@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/animation;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  border-radius: 0px;
  transition: background-color 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ff5722;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #15283c;
}

.css-13cymwt-control {
  border-bottom: 2px gray !important;
  border-color: hsl(0, 0%, 80%);
  border-radius: 0px !important;
  border-style: solid;
  border-width: 0px !important;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Style for minimal gray smooth scrollbar */
.scrollbar-hide:hover::-webkit-scrollbar {
  display: block;
  width: 2px !important;
  height: 8px;
  padding-top: 4px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #d1d7dd;
  border-radius: 2px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: #ffffff;
}



/* custom.css */
.no-outline:focus {
  outline: none;
}


/* Progress Bar Css */

.progress {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
}

.progress.progress-xs {
  height: 5px;
  margin-top: 5px;
}

.progress.progress-sm {
  height: 10px;
  margin-top: 5px;
}

.progress.progress-lg {
  height: 25px;
}

.progress.vertical {
  position: relative;
  width: 20px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}

.progress.vertical .progress-bar {
  width: 100% !important;
  position: absolute;
  bottom: 0;
}

.progress.vertical.progress-xs {
  width: 5px;
  margin-top: 5px;
}

.progress.vertical.progress-sm {
  width: 10px;
  margin-top: 5px;
}

.progress.vertical.progress-lg {
  width: 30px;
}

.progress-bar {
  background-color: #2196f3;
  box-shadow: none;
}

.progress-bar.text-left {
  text-align: left;
}

.progress-bar.text-left span {
  margin-left: 10px;
}

.progress-bar.text-right {
  text-align: right;
}

.progress-bar.text-right span {
  margin-right: 10px;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent);
  background-image: -o-linear-gradient(45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent);
  background-image: linear-gradient(45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent);
  background-size: 40px 40px;
}

.progress-bar-success {
  background-color: #64dd17;
}



.inputOTPBOX {
  margin: 2px !important;
  border: none !important;
  outline: none !important;
  width: 35px !important;
  height: 35px !important;
}